body {
  background-color: #efefef;
}
header {
  margin-top: 20px;
}

.container {
  width: 920px;
  text-align: center;
}

.header-title-area
{
  margin-top: 40px;
  margin-bottom: 30px;
}
.logo {
  font-size: 32px;
}
.text-sub {
  color: #777;
}
.header-navigation {
  width: 100%;
  background-color: #000;
  padding: 20px 0;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navigation li {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #FFFFFF;
  text-decoration: none;
}
.text-title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.card-contents {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}

.left-contents {
  width: 700px;
  margin-right: 20px;
  float: left;
  color: skyblue;
     }

.right-contents {
  width: 200px;
  float: left;
}
.information-list {
  list-style-type: none;
  padding-left: 0;
}

.information-list li {
  margin-bottom: 10px;
}
